<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineController</servlet-name>
        <servlet-class>Controller.TraineController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseCateController</servlet-name>
        <servlet-class>Controller.CourseCateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffController</servlet-name>
        <servlet-class>Controller.StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicModel</servlet-name>
        <servlet-class>Controller.TopicModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicController</servlet-name>
        <servlet-class>Controller.TopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseController</servlet-name>
        <servlet-class>Controller.CourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Trainee_Controller</servlet-name>
        <servlet-class>Controller.Add_Trainee_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerModel</servlet-name>
        <servlet-class>Controller.TrainerModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTopicID</servlet-name>
        <servlet-class>Controller.GetTopicID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServleta</servlet-name>
        <servlet-class>Controller.NewServleta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerInforC</servlet-name>
        <servlet-class>Controller.TrainerInforC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineController</servlet-name>
        <url-pattern>/TraineController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseCateController</servlet-name>
        <url-pattern>/CourseCateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffController</servlet-name>
        <url-pattern>/StaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicModel</servlet-name>
        <url-pattern>/TopicModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicController</servlet-name>
        <url-pattern>/TopicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/CourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Trainee_Controller</servlet-name>
        <url-pattern>/Add_Trainee_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerModel</servlet-name>
        <url-pattern>/TrainerModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTopicID</servlet-name>
        <url-pattern>/GetTopicID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServleta</servlet-name>
        <url-pattern>/NewServleta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerInforC</servlet-name>
        <url-pattern>/TrainerInforC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
